<div>
  <h1>data</h1>

  <% @data.each do |record| %>
    <div id=<%= record.school %>>
      <table>
        <thead>
          <% record.values[0].each do |column_title| %>
            <th><%= column_title %></th>
          <% end %>
        </thead>
        <tbody>
          <% record.values[1..-1].each do |row| %>
            <tr>
              <% row.each do |value| %>
                <td><%= value %></td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
